[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"

[dev-packages]
black = {git = "https://github.com/ambv/black"}
pre-commit = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
